/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #121212; /* Dark background */
    color: #e0e0e0; /* Light text color */
    margin: 0;
    padding: 0;
}

a{
    color: #bb86fc; /* Light purple for links */
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #3700b3; /* Darker purple on hover */
}

/* Header */
header {
    background-color: #1f1f1f; /* Darker header */
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

/* Navigation */
nav {
    margin: 20px 0;
    background-color: #121212;
    color: #e0e0e0;
}

nav a {
    margin: 0 15px;
    font-weight: bold;
    color: #e0e0e0!important;
}

a:hover{
    color: #e0e0e0!important;
    text-decoration: underline;
}

a#aUnderConstruction:hover {
    color: #000!important; /* Darker purple on hover */
}

/* Main Content */
.main-content {
    padding: 20px;
}

/* Section Styles */
section {
    margin-bottom: 40px;
    border: 1px solid #333; /* Light border */
    border-radius: 8px;
    padding: 20px;
    background-color: #1f1f1f; /* Dark section background */
}

/* Footer */
footer {
    background-color: #1f1f1f; /* Dark footer */
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Buttons */
button {
    background-color: #bb86fc; /* Button color */
    color: #121212; /* Button text */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #3700b3; /* Darker on hover */
}

/* Media Queries */
@media (max-width: 600px) {
    header h1 {
        font-size: 2em;
    }
}

.card{
    background-color: #121212!important;
}

.card-img-top{
    height: 400px!important;
}

img.card-img-top:-moz-broken{
  opacity: 0;
}

img.card-img-top {  
  position: relative;
}

img.card-img-top::after {  
  content: "Coming Soon";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1F1F1F;
}


img#letUsTalkAboutIt::after{
    content: "";
    background: url('https://scontent.fmnl33-3.fna.fbcdn.net/v/t31.18172-8/10818490_874841432536179_2628695595925368684_o.jpg?_nc_cat=110&ccb=1-7&_nc_sid=b895b5&_nc_eui2=AeGsZJsMzQrSnrrE_DRkyOOekuJ8Rb-aotWS4nxFv5qi1ZQ4ED8yfuebLwbibc6ZgOILLrXnLdOjdDjaPJuyFkxm&_nc_ohc=ZjEWVZbdbagQ7kNvgHNKtZc&_nc_ht=scontent.fmnl33-3.fna&_nc_gid=A5XR4Yx4ONY2YGAWRYVutgY&oh=00_AYAXqfKEnJdDTYA1jmCAPsjYahN4LGPKbSGOQ2Zo-XC75A&oe=6729AD08');    
    background-attachment: center right;
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: 50%;
}

/*
.card-title{
    text-decoration: underline;
}
*/