/**/

.64in1{position:absolute; height:600px; width:800px; background:transparent;}



/**/

.mnnvgtr{overflow:none; height:60px; width:800px; background:transparent;}



/**/

/*sbnvgtr = subnavigator - links to the subcontent*/

.sbnvgtr{overflow:hidden; height:60px; width:800px; background:transparent;}



/*!important DEFAULT SETTINGS !important*/

/*mnnvgtd = main navigated - hides the main content aka mnnvgtd01 to mnnvgtd08 when inactive*/

.mnnvgtd{overflow:hidden; height:540px; width:800px; background:transparent;}



/*!important DEFAULT SETTINGS !important*/

/*sbnvgtd = sub navigated - hides the subcontent aka sbnvgtd01a to sbnvgtd08h when inactive*/

.sbnvgtd{overflow:hidden; height:480px; width:800px; background:transparent;}



/*!important DEFAULT SETTINGS !important*/

/*mnvgtd01 to mnnvgtd08 - displays the main content when active*/

.mnnvgtd01, .mnnvgtd02, .mnnvgtd03, .mnnvgtd04, .mnnvgtd05, .mnnvgtd06, .mnnvgtd07, .mnnvgtd08, {overflow:auto; height:480px; width:800px;}



/*!important DEFAULT SETTINGS !important*/

/*sbnvgtd01a to sbnvgtd08h - displays the sub content when active*/

.sbnvgtd01a, .sbnvgtd01b, .sbnvgtd01c, .sbnvgtd01d, .sbnvgtd01e, .sbnvgtd01f, .sbnvgtd01g, .sbnvgtd01h, .sbnvgtd02a, .sbnvgtd02b, .sbnvgtd02c, .sbnvgtd02d, .sbnvgtd02e, .sbnvgtd02f, .sbnvgtd02g, .sbnvgtd02h, .sbnvgtd03a, .sbnvgtd03b, .sbnvgtd03c, .sbnvgtd03d, .sbnvgtd03e, .sbnvgtd03f, .sbnvgtd03g, .sbnvgtd03h, .sbnvgtd04a, .sbnvgtd04b, .sbnvgtd04c, .sbnvgtd04d, .sbnvgtd04e, .sbnvgtd04f, .sbnvgtd04g, .sbnvgtd04h, .sbnvgtd05a, .sbnvgtd05b, .sbnvgtd05c, .sbnvgtd05d, .sbnvgtd05e, .sbnvgtd05f, .sbnvgtd05g, .sbnvgtd05h, .sbnvgtd06a, .sbnvgtd06b, .sbnvgtd06c, .sbnvgtd06d, .sbnvgtd06e, .sbnvgtd06f, .sbnvgtd06g, .sbnvgtd06h, .sbnvgtd07a, .sbnvgtd07b, .sbnvgtd07c, .sbnvgtd07d, .sbnvgtd07e, .sbnvgtd07f, .sbnvgtd07g, .sbnvgtd07h, .sbnvgtd08a, .sbnvgtd08b, .sbnvgtd08c, .sbnvgtd08d, .sbnvgtd08e, .sbnvgtd08f, .sbnvgtd08g, .sbnvgtd08h,{overflow:auto; height:480px; border-style: solid; border-width:1px; width:800px;}



/*CUSTOMIZING mnnvgtd links and sbnvgtd links INDIVIDUALLY*/

/*borders, backgrounds and scrollbars customization*/



.mnnvgtd01 { background-attachment:; background-position:; background-repeat:;background-color:transparent; background-image:url(); scrollbar-arrow-color:; scrollbar-base-color:; scrollbar-DarkShadow-Color:; scrollbar-Face-Color:; scrollbar-Highlight-Color:; scrollbar-Shadow-Color:; scrollbar-Track-Color:; border-color:;}

.sbnvgtd01a { background-attachment:; background-position:; background-repeat:;background-color:transparent; background-image:url(); scrollbar-arrow-color:; scrollbar-base-color:; scrollbar-DarkShadow-Color:; scrollbar-Face-Color:; scrollbar-Highlight-Color:; scrollbar-Shadow-Color:; scrollbar-Track-Color:; border-color:;}

.sbnvgtd01b { background-attachment:; background-position:; background-repeat:;background-color:transparent; background-image:url(); scrollbar-arrow-color:; scrollbar-base-color:; scrollbar-DarkShadow-Color:; scrollbar-Face-Color:; scrollbar-Highlight-Color:; scrollbar-Shadow-Color:; scrollbar-Track-Color:; border-color:;}

.sbnvgtd01c { background-attachment:; background-position:; background-repeat:;background-color:transparent; background-image:url(); scrollbar-arrow-color:; scrollbar-base-color:; scrollbar-DarkShadow-Color:; scrollbar-Face-Color:; scrollbar-Highlight-Color:; scrollbar-Shadow-Color:; scrollbar-Track-Color:; border-color:;}

.sbnvgtd01d { background-attachment:; background-position:; background-repeat:;background-color:transparent; background-image:url(); scrollbar-arrow-color:; scrollbar-base-color:; scrollbar-DarkShadow-Color:; scrollbar-Face-Color:; scrollbar-Highlight-Color:; scrollbar-Shadow-Color:; scrollbar-Track-Color:; border-color:;}

.sbnvgtd01e { background-attachment:; background-position:; background-repeat:;background-color:transparent; background-image:url(); scrollbar-arrow-color:; scrollbar-base-color:; scrollbar-DarkShadow-Color:; scrollbar-Face-Color:; scrollbar-Highlight-Color:; scrollbar-Shadow-Color:; scrollbar-Track-Color:; border-color:;}

.sbnvgtd01f { background-attachment:; background-position:; background-repeat:;background-color:transparent; background-image:url(); scrollbar-arrow-color:; scrollbar-base-color:; scrollbar-DarkShadow-Color:; scrollbar-Face-Color:; scrollbar-Highlight-Color:; scrollbar-Shadow-Color:; scrollbar-Track-Color:; border-color:;}

.sbnvgtd01g { background-attachment:; background-position:; background-repeat:;background-color:transparent; background-image:url(); scrollbar-arrow-color:; scrollbar-base-color:; scrollbar-DarkShadow-Color:; scrollbar-Face-Color:; scrollbar-Highlight-Color:; scrollbar-Shadow-Color:; scrollbar-Track-Color:; border-color:;}

.sbnvgtd01h { background-attachment:; background-position:; background-repeat:;background-color:transparent; background-image:url(); scrollbar-arrow-color:; scrollbar-base-color:; scrollbar-DarkShadow-Color:; scrollbar-Face-Color:; scrollbar-Highlight-Color:; scrollbar-Shadow-Color:; scrollbar-Track-Color:; border-color:;}



.mnnvgtd02 { background-attachment:; background-position:; background-repeat:;background-color:transparent; background-image:url(); scrollbar-arrow-color:; scrollbar-base-color:; scrollbar-DarkShadow-Color:; scrollbar-Face-Color:; scrollbar-Highlight-Color:; scrollbar-Shadow-Color:; scrollbar-Track-Color:; border-color:;}

.sbnvgtd02a { background-attachment:; background-position:; background-repeat:;background-color:transparent; background-image:url(); scrollbar-arrow-color:; scrollbar-base-color:; scrollbar-DarkShadow-Color:; scrollbar-Face-Color:; scrollbar-Highlight-Color:; scrollbar-Shadow-Color:; scrollbar-Track-Color:; border-color:;}

.sbnvgtd02b { background-attachment:; background-position:; background-repeat:;background-color:transparent; background-image:url(); scrollbar-arrow-color:; scrollbar-base-color:; scrollbar-DarkShadow-Color:; scrollbar-Face-Color:; scrollbar-Highlight-Color:; scrollbar-Shadow-Color:; scrollbar-Track-Color:; border-color:;}

.sbnvgtd02c { background-attachment:; background-position:; background-repeat:;background-color:transparent; background-image:url(); scrollbar-arrow-color:; scrollbar-base-color:; scrollbar-DarkShadow-Color:; scrollbar-Face-Color:; scrollbar-Highlight-Color:; scrollbar-Shadow-Color:; scrollbar-Track-Color:; border-color:;}

.sbnvgtd02d { background-attachment:; background-position:; background-repeat:;background-color:transparent; background-image:url(); scrollbar-arrow-color:; scrollbar-base-color:; scrollbar-DarkShadow-Color:; scrollbar-Face-Color:; scrollbar-Highlight-Color:; scrollbar-Shadow-Color:; scrollbar-Track-Color:; border-color:;}

.sbnvgtd02e { background-attachment:; background-position:; background-repeat:;background-color:transparent; background-image:url(); scrollbar-arrow-color:; scrollbar-base-color:; scrollbar-DarkShadow-Color:; scrollbar-Face-Color:; scrollbar-Highlight-Color:; scrollbar-Shadow-Color:; scrollbar-Track-Color:; border-color:;}

.sbnvgtd02f { background-attachment:; background-position:; background-repeat:;background-color:transparent; background-image:url(); scrollbar-arrow-color:; scrollbar-base-color:; scrollbar-DarkShadow-Color:; scrollbar-Face-Color:; scrollbar-Highlight-Color:; scrollbar-Shadow-Color:; scrollbar-Track-Color:; border-color:;}

.sbnvgtd02g { background-attachment:; background-position:; background-repeat:;background-color:transparent; background-image:url(); scrollbar-arrow-color:; scrollbar-base-color:; scrollbar-DarkShadow-Color:; scrollbar-Face-Color:; scrollbar-Highlight-Color:; scrollbar-Shadow-Color:; scrollbar-Track-Color:; border-color:;}

.sbnvgtd02h { background-attachment:; background-position:; background-repeat:;background-color:transparent; background-image:url(); scrollbar-arrow-color:; scrollbar-base-color:; scrollbar-DarkShadow-Color:; scrollbar-Face-Color:; scrollbar-Highlight-Color:; scrollbar-Shadow-Color:; scrollbar-Track-Color:; border-color:;}



.mnnvgtd03 { background-attachment:; background-position:; background-repeat:;background-color:transparent; background-image:url(); scrollbar-arrow-color:; scrollbar-base-color:; scrollbar-DarkShadow-Color:; scrollbar-Face-Color:; scrollbar-Highlight-Color:; scrollbar-Shadow-Color:; scrollbar-Track-Color:; border-color:;}

.sbnvgtd03a { background-attachment:; background-position:; background-repeat:;background-color:transparent; background-image:url(); scrollbar-arrow-color:; scrollbar-base-color:; scrollbar-DarkShadow-Color:; scrollbar-Face-Color:; scrollbar-Highlight-Color:; scrollbar-Shadow-Color:; scrollbar-Track-Color:; border-color:;}

.sbnvgtd03b { background-attachment:; background-position:; background-repeat:;background-color:transparent; background-image:url(); scrollbar-arrow-color:; scrollbar-base-color:; scrollbar-DarkShadow-Color:; scrollbar-Face-Color:; scrollbar-Highlight-Color:; scrollbar-Shadow-Color:; scrollbar-Track-Color:; border-color:;}

.sbnvgtd03c { background-attachment:; background-position:; background-repeat:;background-color:transparent; background-image:url(); scrollbar-arrow-color:; scrollbar-base-color:; scrollbar-DarkShadow-Color:; scrollbar-Face-Color:; scrollbar-Highlight-Color:; scrollbar-Shadow-Color:; scrollbar-Track-Color:; border-color:;}

.sbnvgtd03d { background-attachment:; background-position:; background-repeat:;background-color:transparent; background-image:url(); scrollbar-arrow-color:; scrollbar-base-color:; scrollbar-DarkShadow-Color:; scrollbar-Face-Color:; scrollbar-Highlight-Color:; scrollbar-Shadow-Color:; scrollbar-Track-Color:; border-color:;}

.sbnvgtd03e { background-attachment:; background-position:; background-repeat:;background-color:transparent; background-image:url(); scrollbar-arrow-color:; scrollbar-base-color:; scrollbar-DarkShadow-Color:; scrollbar-Face-Color:; scrollbar-Highlight-Color:; scrollbar-Shadow-Color:; scrollbar-Track-Color:; border-color:;}

.sbnvgtd03f { background-attachment:; background-position:; background-repeat:;background-color:transparent; background-image:url(); scrollbar-arrow-color:; scrollbar-base-color:; scrollbar-DarkShadow-Color:; scrollbar-Face-Color:; scrollbar-Highlight-Color:; scrollbar-Shadow-Color:; scrollbar-Track-Color:; border-color:;}

.sbnvgtd03g { background-attachment:; background-position:; background-repeat:;background-color:transparent; background-image:url(); scrollbar-arrow-color:; scrollbar-base-color:; scrollbar-DarkShadow-Color:; scrollbar-Face-Color:; scrollbar-Highlight-Color:; scrollbar-Shadow-Color:; scrollbar-Track-Color:; border-color:;}

.sbnvgtd03h { background-attachment:; background-position:; background-repeat:;background-color:transparent; background-image:url(); scrollbar-arrow-color:; scrollbar-base-color:; scrollbar-DarkShadow-Color:; scrollbar-Face-Color:; scrollbar-Highlight-Color:; scrollbar-Shadow-Color:; scrollbar-Track-Color:; border-color:;}



.mnnvgtd04 { background-attachment:; background-position:; background-repeat:;background-color:transparent; background-image:url(); scrollbar-arrow-color:; scrollbar-base-color:; scrollbar-DarkShadow-Color:; scrollbar-Face-Color:; scrollbar-Highlight-Color:; scrollbar-Shadow-Color:; scrollbar-Track-Color:; border-color:;}

.sbnvgtd04a { background-attachment:; background-position:; background-repeat:;background-color:transparent; background-image:url(); scrollbar-arrow-color:; scrollbar-base-color:; scrollbar-DarkShadow-Color:; scrollbar-Face-Color:; scrollbar-Highlight-Color:; scrollbar-Shadow-Color:; scrollbar-Track-Color:; border-color:;}

.sbnvgtd04b { background-attachment:; background-position:; background-repeat:;background-color:transparent; background-image:url(); scrollbar-arrow-color:; scrollbar-base-color:; scrollbar-DarkShadow-Color:; scrollbar-Face-Color:; scrollbar-Highlight-Color:; scrollbar-Shadow-Color:; scrollbar-Track-Color:; border-color:;}

.sbnvgtd04c { background-attachment:; background-position:; background-repeat:;background-color:transparent; background-image:url(); scrollbar-arrow-color:; scrollbar-base-color:; scrollbar-DarkShadow-Color:; scrollbar-Face-Color:; scrollbar-Highlight-Color:; scrollbar-Shadow-Color:; scrollbar-Track-Color:; border-color:;}

.sbnvgtd04d { background-attachment:; background-position:; background-repeat:;background-color:transparent; background-image:url(); scrollbar-arrow-color:; scrollbar-base-color:; scrollbar-DarkShadow-Color:; scrollbar-Face-Color:; scrollbar-Highlight-Color:; scrollbar-Shadow-Color:; scrollbar-Track-Color:; border-color:;}

.sbnvgtd04e { background-attachment:; background-position:; background-repeat:;background-color:transparent; background-image:url(); scrollbar-arrow-color:; scrollbar-base-color:; scrollbar-DarkShadow-Color:; scrollbar-Face-Color:; scrollbar-Highlight-Color:; scrollbar-Shadow-Color:; scrollbar-Track-Color:; border-color:;}

.sbnvgtd04f { background-attachment:; background-position:; background-repeat:;background-color:transparent; background-image:url(); scrollbar-arrow-color:; scrollbar-base-color:; scrollbar-DarkShadow-Color:; scrollbar-Face-Color:; scrollbar-Highlight-Color:; scrollbar-Shadow-Color:; scrollbar-Track-Color:; border-color:;}

.sbnvgtd04g { background-attachment:; background-position:; background-repeat:;background-color:transparent; background-image:url(); scrollbar-arrow-color:; scrollbar-base-color:; scrollbar-DarkShadow-Color:; scrollbar-Face-Color:; scrollbar-Highlight-Color:; scrollbar-Shadow-Color:; scrollbar-Track-Color:; border-color:;}

.sbnvgtd04h { background-attachment:; background-position:; background-repeat:;background-color:transparent; background-image:url(); scrollbar-arrow-color:; scrollbar-base-color:; scrollbar-DarkShadow-Color:; scrollbar-Face-Color:; scrollbar-Highlight-Color:; scrollbar-Shadow-Color:; scrollbar-Track-Color:; border-color:;}



.mnnvgtd05 { background-attachment:; background-position:; background-repeat:;background-color:transparent; background-image:url(); scrollbar-arrow-color:; scrollbar-base-color:; scrollbar-DarkShadow-Color:; scrollbar-Face-Color:; scrollbar-Highlight-Color:; scrollbar-Shadow-Color:; scrollbar-Track-Color:; border-color:;}

.sbnvgtd05a { background-attachment:; background-position:; background-repeat:;background-color:transparent; background-image:url(); scrollbar-arrow-color:; scrollbar-base-color:; scrollbar-DarkShadow-Color:; scrollbar-Face-Color:; scrollbar-Highlight-Color:; scrollbar-Shadow-Color:; scrollbar-Track-Color:; border-color:;}

.sbnvgtd05b { background-attachment:; background-position:; background-repeat:;background-color:transparent; background-image:url(); scrollbar-arrow-color:; scrollbar-base-color:; scrollbar-DarkShadow-Color:; scrollbar-Face-Color:; scrollbar-Highlight-Color:; scrollbar-Shadow-Color:; scrollbar-Track-Color:; border-color:;}

.sbnvgtd05c { background-attachment:; background-position:; background-repeat:;background-color:transparent; background-image:url(); scrollbar-arrow-color:; scrollbar-base-color:; scrollbar-DarkShadow-Color:; scrollbar-Face-Color:; scrollbar-Highlight-Color:; scrollbar-Shadow-Color:; scrollbar-Track-Color:; border-color:;}

.sbnvgtd05d { background-attachment:; background-position:; background-repeat:;background-color:transparent; background-image:url(); scrollbar-arrow-color:; scrollbar-base-color:; scrollbar-DarkShadow-Color:; scrollbar-Face-Color:; scrollbar-Highlight-Color:; scrollbar-Shadow-Color:; scrollbar-Track-Color:; border-color:;}

.sbnvgtd05e { background-attachment:; background-position:; background-repeat:;background-color:transparent; background-image:url(); scrollbar-arrow-color:; scrollbar-base-color:; scrollbar-DarkShadow-Color:; scrollbar-Face-Color:; scrollbar-Highlight-Color:; scrollbar-Shadow-Color:; scrollbar-Track-Color:; border-color:;}

.sbnvgtd05f { background-attachment:; background-position:; background-repeat:;background-color:transparent; background-image:url(); scrollbar-arrow-color:; scrollbar-base-color:; scrollbar-DarkShadow-Color:; scrollbar-Face-Color:; scrollbar-Highlight-Color:; scrollbar-Shadow-Color:; scrollbar-Track-Color:; border-color:;}

.sbnvgtd05g { background-attachment:; background-position:; background-repeat:;background-color:transparent; background-image:url(); scrollbar-arrow-color:; scrollbar-base-color:; scrollbar-DarkShadow-Color:; scrollbar-Face-Color:; scrollbar-Highlight-Color:; scrollbar-Shadow-Color:; scrollbar-Track-Color:; border-color:;}

.sbnvgtd05h { background-attachment:; background-position:; background-repeat:;background-color:transparent; background-image:url(); scrollbar-arrow-color:; scrollbar-base-color:; scrollbar-DarkShadow-Color:; scrollbar-Face-Color:; scrollbar-Highlight-Color:; scrollbar-Shadow-Color:; scrollbar-Track-Color:; border-color:;}



.mnnvgtd06 { background-attachment:; background-position:; background-repeat:;background-color:transparent; background-image:url(); scrollbar-arrow-color:; scrollbar-base-color:; scrollbar-DarkShadow-Color:; scrollbar-Face-Color:; scrollbar-Highlight-Color:; scrollbar-Shadow-Color:; scrollbar-Track-Color:; border-color:;}

.sbnvgtd06a { background-attachment:; background-position:; background-repeat:;background-color:transparent; background-image:url(); scrollbar-arrow-color:; scrollbar-base-color:; scrollbar-DarkShadow-Color:; scrollbar-Face-Color:; scrollbar-Highlight-Color:; scrollbar-Shadow-Color:; scrollbar-Track-Color:; border-color:;}

.sbnvgtd06b { background-attachment:; background-position:; background-repeat:;background-color:transparent; background-image:url(); scrollbar-arrow-color:; scrollbar-base-color:; scrollbar-DarkShadow-Color:; scrollbar-Face-Color:; scrollbar-Highlight-Color:; scrollbar-Shadow-Color:; scrollbar-Track-Color:; border-color:;}

.sbnvgtd06c { background-attachment:; background-position:; background-repeat:;background-color:transparent; background-image:url(); scrollbar-arrow-color:; scrollbar-base-color:; scrollbar-DarkShadow-Color:; scrollbar-Face-Color:; scrollbar-Highlight-Color:; scrollbar-Shadow-Color:; scrollbar-Track-Color:; border-color:;}

.sbnvgtd06d { background-attachment:; background-position:; background-repeat:;background-color:transparent; background-image:url(); scrollbar-arrow-color:; scrollbar-base-color:; scrollbar-DarkShadow-Color:; scrollbar-Face-Color:; scrollbar-Highlight-Color:; scrollbar-Shadow-Color:; scrollbar-Track-Color:; border-color:;}

.sbnvgtd06e { background-attachment:; background-position:; background-repeat:;background-color:transparent; background-image:url(); scrollbar-arrow-color:; scrollbar-base-color:; scrollbar-DarkShadow-Color:; scrollbar-Face-Color:; scrollbar-Highlight-Color:; scrollbar-Shadow-Color:; scrollbar-Track-Color:; border-color:;}

.sbnvgtd06f { background-attachment:; background-position:; background-repeat:;background-color:transparent; background-image:url(); scrollbar-arrow-color:; scrollbar-base-color:; scrollbar-DarkShadow-Color:; scrollbar-Face-Color:; scrollbar-Highlight-Color:; scrollbar-Shadow-Color:; scrollbar-Track-Color:; border-color:;}

.sbnvgtd06g { background-attachment:; background-position:; background-repeat:;background-color:transparent; background-image:url(); scrollbar-arrow-color:; scrollbar-base-color:; scrollbar-DarkShadow-Color:; scrollbar-Face-Color:; scrollbar-Highlight-Color:; scrollbar-Shadow-Color:; scrollbar-Track-Color:; border-color:;}

.sbnvgtd06h { background-attachment:; background-position:; background-repeat:;background-color:transparent; background-image:url(); scrollbar-arrow-color:; scrollbar-base-color:; scrollbar-DarkShadow-Color:; scrollbar-Face-Color:; scrollbar-Highlight-Color:; scrollbar-Shadow-Color:; scrollbar-Track-Color:; border-color:;}



.mnnvgtd07 { background-attachment:; background-position:; background-repeat:;background-color:transparent; background-image:url(); scrollbar-arrow-color:; scrollbar-base-color:; scrollbar-DarkShadow-Color:; scrollbar-Face-Color:; scrollbar-Highlight-Color:; scrollbar-Shadow-Color:; scrollbar-Track-Color:; border-color:;}

.sbnvgtd07a { background-attachment:; background-position:; background-repeat:;background-color:transparent; background-image:url(); scrollbar-arrow-color:; scrollbar-base-color:; scrollbar-DarkShadow-Color:; scrollbar-Face-Color:; scrollbar-Highlight-Color:; scrollbar-Shadow-Color:; scrollbar-Track-Color:; border-color:;}

.sbnvgtd07b { background-attachment:; background-position:; background-repeat:;background-color:transparent; background-image:url(); scrollbar-arrow-color:; scrollbar-base-color:; scrollbar-DarkShadow-Color:; scrollbar-Face-Color:; scrollbar-Highlight-Color:; scrollbar-Shadow-Color:; scrollbar-Track-Color:; border-color:;}

.sbnvgtd07c { background-attachment:; background-position:; background-repeat:;background-color:transparent; background-image:url(); scrollbar-arrow-color:; scrollbar-base-color:; scrollbar-DarkShadow-Color:; scrollbar-Face-Color:; scrollbar-Highlight-Color:; scrollbar-Shadow-Color:; scrollbar-Track-Color:; border-color:;}

.sbnvgtd07d { background-attachment:; background-position:; background-repeat:;background-color:transparent; background-image:url(); scrollbar-arrow-color:; scrollbar-base-color:; scrollbar-DarkShadow-Color:; scrollbar-Face-Color:; scrollbar-Highlight-Color:; scrollbar-Shadow-Color:; scrollbar-Track-Color:; border-color:;}

.sbnvgtd07e { background-attachment:; background-position:; background-repeat:;background-color:transparent; background-image:url(); scrollbar-arrow-color:; scrollbar-base-color:; scrollbar-DarkShadow-Color:; scrollbar-Face-Color:; scrollbar-Highlight-Color:; scrollbar-Shadow-Color:; scrollbar-Track-Color:; border-color:;}

.sbnvgtd07f { background-attachment:; background-position:; background-repeat:;background-color:transparent; background-image:url(); scrollbar-arrow-color:; scrollbar-base-color:; scrollbar-DarkShadow-Color:; scrollbar-Face-Color:; scrollbar-Highlight-Color:; scrollbar-Shadow-Color:; scrollbar-Track-Color:; border-color:;}

.sbnvgtd07g { background-attachment:; background-position:; background-repeat:;background-color:transparent; background-image:url(); scrollbar-arrow-color:; scrollbar-base-color:; scrollbar-DarkShadow-Color:; scrollbar-Face-Color:; scrollbar-Highlight-Color:; scrollbar-Shadow-Color:; scrollbar-Track-Color:; border-color:;}

.sbnvgtd07h { background-attachment:; background-position:; background-repeat:;background-color:transparent; background-image:url(); scrollbar-arrow-color:; scrollbar-base-color:; scrollbar-DarkShadow-Color:; scrollbar-Face-Color:; scrollbar-Highlight-Color:; scrollbar-Shadow-Color:; scrollbar-Track-Color:; border-color:;}



.mnnvgtd08 { background-attachment:; background-position:; background-repeat:;background-color:transparent; background-image:url(); scrollbar-arrow-color:; scrollbar-base-color:; scrollbar-DarkShadow-Color:; scrollbar-Face-Color:; scrollbar-Highlight-Color:; scrollbar-Shadow-Color:; scrollbar-Track-Color:; border-color:;}

.sbnvgtd08a { background-attachment:; background-position:; background-repeat:;background-color:transparent; background-image:url(); scrollbar-arrow-color:; scrollbar-base-color:; scrollbar-DarkShadow-Color:; scrollbar-Face-Color:; scrollbar-Highlight-Color:; scrollbar-Shadow-Color:; scrollbar-Track-Color:; border-color:;}

.sbnvgtd08b { background-attachment:; background-position:; background-repeat:;background-color:transparent; background-image:url(); scrollbar-arrow-color:; scrollbar-base-color:; scrollbar-DarkShadow-Color:; scrollbar-Face-Color:; scrollbar-Highlight-Color:; scrollbar-Shadow-Color:; scrollbar-Track-Color:; border-color:;}

.sbnvgtd08c { background-attachment:; background-position:; background-repeat:;background-color:transparent; background-image:url(); scrollbar-arrow-color:; scrollbar-base-color:; scrollbar-DarkShadow-Color:; scrollbar-Face-Color:; scrollbar-Highlight-Color:; scrollbar-Shadow-Color:; scrollbar-Track-Color:; border-color:;}

.sbnvgtd08d { background-attachment:; background-position:; background-repeat:;background-color:transparent; background-image:url(); scrollbar-arrow-color:; scrollbar-base-color:; scrollbar-DarkShadow-Color:; scrollbar-Face-Color:; scrollbar-Highlight-Color:; scrollbar-Shadow-Color:; scrollbar-Track-Color:; border-color:;}

.sbnvgtd08e { background-attachment:; background-position:; background-repeat:;background-color:transparent; background-image:url(); scrollbar-arrow-color:; scrollbar-base-color:; scrollbar-DarkShadow-Color:; scrollbar-Face-Color:; scrollbar-Highlight-Color:; scrollbar-Shadow-Color:; scrollbar-Track-Color:; border-color:;}

.sbnvgtd08f { background-attachment:; background-position:; background-repeat:;background-color:transparent; background-image:url(); scrollbar-arrow-color:; scrollbar-base-color:; scrollbar-DarkShadow-Color:; scrollbar-Face-Color:; scrollbar-Highlight-Color:; scrollbar-Shadow-Color:; scrollbar-Track-Color:; border-color:;}

.sbnvgtd08g { background-attachment:; background-position:; background-repeat:;background-color:transparent; background-image:url(); scrollbar-arrow-color:; scrollbar-base-color:; scrollbar-DarkShadow-Color:; scrollbar-Face-Color:; scrollbar-Highlight-Color:; scrollbar-Shadow-Color:; scrollbar-Track-Color:; border-color:;}

.sbnvgtd08h { background-attachment:; background-position:; background-repeat:;background-color:transparent; background-image:url(); scrollbar-arrow-color:; scrollbar-base-color:; scrollbar-DarkShadow-Color:; scrollbar-Face-Color:; scrollbar-Highlight-Color:; scrollbar-Shadow-Color:; scrollbar-Track-Color:; border-color:;}



/*minimizing navigators' height properties for maximizing contents' height properties*/

/*classes height options*/

/*mnnvgtr and sbnvgtr - 60-30-15*/

/*mnnvgtd and mnnvgtd01 to mnnvgtd08 - 540-570-585*/

/*sbnvgtd and sbnvgtd01a to sbnvgtd08h - 480-540-570*/



/*best viewed with Microsoft Internet Explorer with a 1024px by 768px screen resolution*/
/*the above comment is around 17yrs ago :D*/



/*soniacaboom@yahoo.com*/
